@model MarketsTree.Models.MarketsDataModel
@{
    ViewBag.Title = "Markets tree";
}


<div class="row">
    <div class="col-md-4">
        <h2>Markets</h2>
        <table>
            <thead>
            <tr class="info"><td>NODE_NAME</td><td>EXPOSURES</td></tr>
            </thead>
            @foreach (var item in Model.GroupedLevels)
            {
                <tr>
                    <td><div class="Level_@item.Level"> @item.Name </div> </td>
                    <td>@item.SumExp </td>
                </tr>
            }
        </table>
    </div>
</div>